on:
  push: {}
  release:
    types:
      - published
name: CI Build & Test
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.HARBOR_USER }}
          password: ${{ secrets.HARBOR_SECRET }}
          registry: anx-cr.io
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            anx-cr.io/anexia/anx-cloud-controller-manager
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
      - name: Build Kubermatic Addon Image
        uses: docker/build-push-action@v2
        with:
          context: ./kubermatic-addon
          push: true
          tags: |
            anx-cr.io/anexia/kubermatic-addon:v2.17.2
  
  documentation:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.HARBOR_USER }}
          password: ${{ secrets.HARBOR_SECRET }}
          registry: anx-cr.io
      - name: Docker documentation meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            anx-cr.io/anexia/anx-cloud-controller-docs
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          context: ./kubermatic-addon
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}

  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17'
      - run: go test ./...
        name: Run Tests

  docker-scan:
    runs-on: ubuntu-20.04
    needs: [build]
    steps:
      - name: Get Image Tag
        run: echo "::set-output name=tag::sha-${GITHUB_SHA::7}"
        shell: bash
        id: git
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'anx-cr.io/anexia/anx-cloud-controller-manager:${{ steps.git.outputs.tag }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
