on:
  workflow_dispatch: {}
  repository_dispatch: {}
  push:
    branches:
      - main
name: Update Release Draft
jobs:
  update-draft:
    name: Update Release Draft
    runs-on: ubuntu-20.04
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
